*{
    /* border: 1px solid red; */
}
.home-container{
    height:100vh;
    width:100vw;
    overflow-x: hidden;
}
.home{
    display:flex;
    flex-direction: row;
    height: 100vh;
   width:400vw;
    transition:ease 1.2s; 
}
.navbar-home{
    width:100vw;
}
.transparency-bg-1-home{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to left, black 30%, transparent);
    height: 100vh;
}
.bg-1-home{
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    background-image: url("../../assets/violao-background1.jpg"); 

    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100vw;
}
.logo-school-home{
    width: 50vh;
    padding: 150px;
    display: flex;
    align-items: end;
    justify-content: end;
   
}
.logo-school-home:hover{
    transition: 3s;
    display: flex;
    align-items: center;
    transform: scale(1.1,1.1); 
  }
.container-logotipo{
    display: flex;
    flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  width:100vw;
 

}

.photo-players-bg-1{
   
    display: none;
    align-items: center;
    border-radius: 20px;
}
.photo-players-bg-1:hover{
    transition: 3s;
    display: flex;
    align-items: center;
    transform: scale(1.1,1.1);
   
}

.pg2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(101, 193, 255),white);
    width:100vw;
}


.txt-pg1-home{
    font-size: 56px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: start;
   background-color: rgba(0, 0, 0, 0.575);
   border-radius: 20px;
   transform:translateX(-30px);
}

.txt2{
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.hst{
 max-width: 700px;
}

.pg2{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#photopg2{
    border-radius: 20px;
   height: 400px;
   width:600px;
    padding: auto;
}

.history{
    padding: 1vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 20vh;
    
 
}

.group_section{
    display: flex;    
    justify-content: center;
    
    position: relative;
    
    width: 100vw;
}

.testecentral{
   background-image: url(../../assets/photoinstagram/bckgrnd1.jpg);
   background-size:cover;
   background-position: center;
   width: 100vw;
}

.img-section{
    height: 20vh;
    border-radius: 20px;
    margin: 20px;
}

.txt-section{
    min-width: 300px;
    width: 33vh;
    background-color: rgba(0, 153, 255, 0.548);
    border-radius: 20px;
    margin: 8px;
    padding: 8px;
    color: rgb(255, 255, 255);   
}

.txt-section p,.txt-section h1,.txt-section li{
    text-align: center;
    font-weight: 400;
    color: antiquewhite;
}

.crescendo:hover{
    transition: 1s;
    transform: scale(1.1,1.1); 
  }



