body {
    background-image: url('../../assets/photoinstagram/bckgrnd1.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.home-container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.btn-slide-turnon {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 3;
    font-size: large;
    color: white;
    background-color: transparent;

}

.home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 400vw;
    transition: ease 1.2s;
}

.navbar-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    padding: 0 40px;
}

.navbar-home button {
    border: transparent;
    margin: 0 20px;
    font-size: large;
    color: white;
    background-color: transparent;
}

.transparency-bg-1-home {
    display: flex;
    flex-wrap: wrap;
    /* background-image: linear-gradient(to left, black 30%, transparent); */
    height: 100vh;
}

.bg-1-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, black 30%, transparent);
}

.logo-school-home {
    width: 30vw;
    padding: 150px;
    display: flex;
    align-items: end;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, black 30%, transparent); */
    border-radius: 30px;
    min-width: 320px;
   
}

.logo-school-home:hover {
    transition: 3s;
    display: flex;
    align-items: center;
    transform: scale(1.1, 1.1);
}

.container-logotipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;


}

.photo-players-bg-1 {

    display: none;
    align-items: center;
    border-radius: 20px;
}

.photo-players-bg-1:hover {
    transition: 3s;
    display: flex;
    align-items: center;
    transform: scale(1.1, 1.1);

}

.pg2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


span .txt-pg1-home {
    margin: 0 0px 0px 0;
    font-size: 56px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transform: translateX(-30px);
}

.pg2 {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.txt2 {
    margin-top: 90px;
    width:100vw;
    height: 90vh;
    margin-top: 10vh;
}


.txt-pg1-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 0px 0px 0; 
    font-size: 4vh;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align:center;
    border-radius: 20px;
  
}

.txt2{
    

    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: auto;
    font-weight: 700;
    color: black;
    margin-right: 10px;
    background-color: rgba(245, 245, 220, 0.671);
    border-radius: 40px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.507);
    padding: 15px;
    height: auto;
    width: 50vw;
    min-width: 330px;

}

.txt2 h1 {
    font-size: 28px;
}

.txt2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photopg2 {
    border-radius: 20px;
    width: auto;

}

#fototurma {
    border-radius: 30px;
    width: 40vw;
    min-width: 330px;

}

.history {

    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    width: 100vw;
    margin: 50px 0 0 20px;
    padding: 1vh;

}


.group_section {
    display: flex;
    justify-content: center;

    position: relative;
    height: 90vh;
    width: 95vw;
    padding: auto;

}


.img-section {
    height: 26vh;
    max-height: 150px;
    width:auto;
    max-height: 200px;
    border-radius: 20px;
    margin: 15px;
    max-width: 350px;
}

.img-section2 {
    width: 15vw;
    height: 20vh;
    max-height: 100px;
    border-radius: 20px;
    margin: 5px;
    max-width: 350px;
}

.txt-section {
    height: 23vh;
    width: 15vw;
    max-width: 350px;
    min-width: 200px;
    padding: 15px;
    font-weight: 28px;
    color: black;
    text-align: center;
    margin: 5px;
    background-color: rgba(245, 245, 220, 0.671);
    border-radius: 20px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
   }

.txt-section h1{
    font-size:20px;
    margin:5px 0;
    text-align: center;

}

.txt-section h1 {
    font-size: 20px;
    margin: 5px 0;
}

.txt-section p {
    font-size: 13px;
    width: 180px;
    margin: 0;
    text-align: center;
    
}

.crescendo:hover {
    transition: 1s;
    transform: scale(1.1, 1.1);
}


.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.box-contacts {
    width: 80vw;
    height: 60vh;
    background-color: rgba(245, 245, 220, 0.671);
    border-radius: 40px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:40px;
}

.box-contacts-img {
    width:8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contatos-lado-esquerdo {
    width: auto;
    max-width: 300px;
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.icon-e-telefone {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25%;
}

.contatos-lado-direito {
   display: flex;
   justify-content: center;
   align-items: center;
    width:30vw;
    max-height: 300px;
    font-size: 3rem;
   
}
a .contatos-lado-direito-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50vh;
    margin: 5px;
}

@media (max-width: 800px) {
    a .contatos-lado-direito-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height:25vh;
        margin: 5px;
        
        

    }

   
}




.cnt-ld-esqrdo-txt {
    text-align: center;
}




