.navbar {
    display: none;
}

nav {

    position: fixed;
    top: 0;
    left: 0;
    height: 52px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
   
   
}



.nav-bar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 610px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 1px black solid;

}

.nav-bar-item {
    width: 100px;
    padding: 10px 5px;
    margin:0 10px;
    list-style-type: none;
    font-weight: bold;
    border: 1px black solid;
    text-align: center;
    border-radius: 0 0 9px 9px;
    background-color: white;
    transition: 0.9s;
}

.nav-bar-item:hover {
    color: #ccc;
    border: 1px #777 solid;
    padding: 40px 5px 30px 5px;
}

a {
    text-decoration: none;
    transition: 0.9s;

}

a:hover {
    color: #aaa
}